<!-- This needs breaking down into multiple components for each type of input
 -->
<div class="flex" *ngIf="this.newFilterType.inputType !== 'text'">
  <button mat-stroked-button disabled>
    {{ this.newFilterType.displayName }}
  </button>
  <button mat-stroked-button [matMenuTriggerFor]="criteriaMenu">
    {{ this.form.controls.criteria.value }}
  </button>
  <button
    mat-stroked-button
    *ngIf="this.newFilterType.inputType === 'user'"
    [matMenuTriggerFor]="userMenu"
  >
    {{ this.form.controls.selectedFilterValue.value || "Select" }}
  </button>
  <button
    mat-stroked-button
    *ngIf="this.newFilterType.inputType === 'single-select'"
    [matMenuTriggerFor]="singleSelectMenu"
  >
    {{ this.form.controls.selectedFilterValue.value || "Select" }}
  </button>
</div>

<mat-menu #criteriaMenu>
  <button
    mat-menu-item
    *ngFor="let criteria of criterias"
    (click)="changeCriteria(criteria)"
  >
    {{ criteria }}
  </button>
</mat-menu>
<mat-menu #userMenu>
  <ng-container *ngIf="users$ | async as users">
    <button
      mat-menu-item
      *ngFor="let user of users"
      (click)="changeValue(user.id)"
    >
      {{ user.name }}
    </button>
  </ng-container>
</mat-menu>
<mat-menu #singleSelectMenu>
  <button
    mat-menu-item
    *ngFor="let value of values"
    (click)="changeValue(value)"
  >
    {{ value }}
  </button>
</mat-menu>

<form [formGroup]="form">
  <div *ngIf="this.newFilterType.inputType === 'text'">
    <form [formGroup]="form">
      <mat-form-field class="standard" appearance="outline">
        <input
          type="text"
          matInput
          placeholder="Search"
          #searchInput
          (input)="search()"
          formControlName="selectedFilterValue"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
</form>
