.margin {
  margin-right: 8px;
}

.margin-top {
  margin-top: 16px;
}

.flex {
  display: flex;
  align-items: center;
}

.wrap {
  flex-flow: row wrap;
}

h4 {
  margin: 0;
}

.filter {
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 4px;
  border-color: lightgray;
}
