/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
